* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Styling for the App Component */

.app {
  height:100vh;
  margin-Top:0;
}

/* Styling for the Nav Component */

.nav {
  background:navy;
  height:100px;
  display:flex;
  align-items:center;
}

.logo {
  color:white;
  margin-left:20px;
  font-size:50px;
  letter-spacing:0.05em;
  font-family:cursive;
}

/* Styling for the MovieList Component */
.movie-list {
  display:flex;
  flex-direction:column;
  align-items:center;
  background:gray;
  min-height:calc(100vh - 100px);
}

form {
  width:450px;
  background:black;
  height:50px;
  display:flex;
  justify-content:center;
  margin-top:10px;
  align-items:center;
  border-radius:16px;
}

input {
  text-align:center;
  color:white;
  font-size:30px;
  width:400px;
  height:40px;
  background:transparent;
  border:none;
  outline:none;
}

/* Styling for the MovieDetails Component */
.cards-display {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card {
  background:white;
  margin:10px;
  border:solid black 1px;
  width:200px;
  height:320px;
  display:flex;
  flex-direction:column;
  box-shadow:3px 5px 4px 1px;
  align-items:center;
  text-align:center;
  position:relative
}

.card > h1 , h3 {
  margin:0
}

img {
  height:200px;
  width:100px;
  position:absolute;
  bottom:10px;
  border:2px solid black;
}

